{% extends "layout.html" %}
{% block title %}Отправить обращение{% endblock %}

{% block content %}
    <h1>Отправить обращение</h1>
    {% include 'error_flash.html' %}
    <a href="/page/instruction">Инструкция</a><br/>
    <br/>
    <form id="myForm"  method="POST" enctype="multipart/form-data" {% if action is defined %}action="{{ action }}"{% endif %}>
        {{ add_form.csrf_token }}
        {{ add_form.date_appeal(style="display:none") }}<br/>
        {{ add_form.first_name.label }} <br/>{{ add_form.first_name() }} <br/>
        {{ add_form.last_name.label }} <br/>{{ add_form.last_name() }} <br/>
        {{ add_form.surname.label }} <br/>{{ add_form.surname() }} <br/>
        {{ add_form.student_group.label }} <br/>{{ add_form.student_group() }} <br/>
        {{ add_form.contact.label }} <br/>{{ add_form.contact() }} <br/>
        {{ add_form.theme.label }} <br/>{{ add_form.theme() }} <br/>
        {{ add_form.full_text.label }} <br/>{{ add_form.full_text() }} <br/>
        
        <input type="submit"  name="publish" value="Отправить"/>
    </form>
{% endblock %}
